<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tillkruss.laravel-docs</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>7B86D057-DA8E-4302-AF17-83B889B48EE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D449CB87-B64C-41F5-8FF0-C93C75686459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Till Krüss</string>
	<key>description</key>
	<string>An ultra-fast Laravel docs search workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Laravel Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D449CB87-B64C-41F5-8FF0-C93C75686459</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ld</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php laravel.php "{query}"
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php laravel.php "{query}"
elif [ -f "$HOME/Library/Application Support/Herd/bin//php" ]; then
    "$HOME/Library/Application Support/Herd/bin//php" laravel.php "{query}"
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php laravel.php "{query}"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Laravel {var:branch} docs...</string>
				<key>title</key>
				<string>Laravel Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B86D057-DA8E-4302-AF17-83B889B48EE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An ultra-fast Laravel docs search workflow for Alfred.

## Usage

Just type `ld` followed by your search query.

```
ld &lt;query&gt;
ld preview mailables
```

Either press `⌘Y` to Quick Look the result, or press `&lt;enter&gt;` to open it in your web browser.

## Changing Branches

By default this workflow searches the `master` branch of the docs. However, you can change that to any branch listed on laravel.com/docs.

For example setting the value of `branch` variable on the right to `9.x` will search the v9.x docs by default.</string>
	<key>uidata</key>
	<dict>
		<key>7B86D057-DA8E-4302-AF17-83B889B48EE2</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D449CB87-B64C-41F5-8FF0-C93C75686459</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>branch</key>
		<string>9.x</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.3.3</string>
	<key>webaddress</key>
	<string>https://till.im</string>
</dict>
</plist>
